.jumbotron{
    background-color: greenyellow;
    margin-top: 50px;
}

#carouselControls1{
    padding-top: 2%;
    padding-bottom: 2%;
}

.banner img{
    width: 100%;
    height: 70vh;
}

.tab-content{
    padding-top: 5%;
}

.catalogo{
    flex: 1 25%;
    padding-bottom: 2%;
}

.btn-ver{
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer{
    background-color: greenyellow;
    color: black;
    margin-top: 5%;
    padding: 1%;
}

.nav-icon{
    padding-right: 5px;
}

.footer-adress-icon{
    padding-right: 10px;
}