$green: #7cf55b; 
$red: #e31705;
$yellow: #ffff;
$black: #33332c;
$white: #ffeebb;

/*$yellow: #f7f559;*/

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padd($bottom, $top, $right, $left){
    padding-bottom: $bottom;
    padding-top: $top;
    padding-right: $right;
    padding-left: $left;
}

.jumbotron{
    background-color:$green;
    @include margenes(50px, 15px);
}

#carouselControls1{
    @include padd(2%, 2%, 0%, 0%);    
}

.banner img{
    width: 100%;
    height: 70vh;
}

.tab-content{
    @include padd(0%, 5%, 0%, 0%); 
}

.catalogo{
    flex: 1 25%;
    @include padd(2%, 0%, 0%, 0%); 
}

.btn-ver{
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer{
    background-color: $yellow;
    color: $black;
    @include margenes(5%, 0%);
    padding: 1%;
}

.nav-icon{
    @include padd(0px, 0px, 5px, 0px); 
}

.footer-adress-icon{
    @include padd(0px, 0px, 10px, 0px); 
}