/*$yellow: #f7f559;*/
.jumbotron {
  background-color: #7cf55b;
  margin-top: 50px;
  margin-bottom: 15px; }

#carouselControls1 {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-right: 0%;
  padding-left: 0%; }

.banner img {
  width: 100%;
  height: 70vh; }

.tab-content {
  padding-bottom: 0%;
  padding-top: 5%;
  padding-right: 0%;
  padding-left: 0%; }

.catalogo {
  flex: 1 25%;
  padding-bottom: 2%;
  padding-top: 0%;
  padding-right: 0%;
  padding-left: 0%; }

.btn-ver {
  width: 100%;
  position: absolute;
  bottom: 0; }

footer {
  background-color: #ffff;
  color: #33332c;
  margin-top: 5%;
  margin-bottom: 0%;
  padding: 1%; }

.nav-icon {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 0px; }

.footer-adress-icon {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 0px; }
